// h1
header {
  background-color: $primary;

  h1 {
    a {
      background-image: url("../images/logo-white.png");
      background-size: cover;
      width: 90px;
      height: 55px;
      @include phone {
        width: 80px;
        height: 48px;
      }
      // 圖片取代文字技巧
      text-indent: 130%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

// nav
header {
  @include phone {
    width: 100%;
    position: fixed;
    top: 0;
  }
}
.nav {
  :not(:last-child) {
    margin-right: 64px;
  }

  @include phone {
    :not(:last-child) {
      margin-right: 0px;
    }

    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    //讓選單向上推出 header 的空間，避免選單展開時會遮擋住 header
    width: 100%;
    // max-height: 0px;
    // overflow: hidden;
    text-align: center;
  }
  .nav-item {
    font-size: $h5-text;
    font-weight: normal;
    @include phone {
      padding: 5px 5px;
    }
  }
}

// RWD 漢堡選單
.navBtn {
  display: none;
  @include phone {
    display: block;
  }
  a {
    .material-symbols-outlined {
      color: white;
      font-size: 48px;
    }
  }
}
