.h2 {
  font-size: $h2-text;
  font-weight: 900;
  &::before {
    content: "";
    background-color: $primary;
    width: 8px;
    height: 72px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
  }
}
.label {
  @include phone {
    font-size: 16px;
    margin-right: 8px;
  }
}
select {
  width: 304px;
  @include phone {
    width: 276px;
    height: 36px;
  }
}
.option {
  margin-bottom: 40px;
  @include phone {
    margin-bottom: 24px;
    align-items: center;
  }
}

.location {
  display: flex;
  flex-wrap: wrap;
  @include pad {
    margin-bottom: 56px;
  }
  @include phone {
    margin-bottom: 40px;
  }
  .card {
    width: 32%;
    &:not(:nth-child(3)) {
      margin-right: 24px;
    }
    margin-bottom: 48px;
    @include pad {
      width: calc(50% - 24px);
      margin-bottom: 24px;
      &:not(:nth-child(2)) {
        margin-right: 24px;
      }
    }
    @include phone {
      width: 100%;
      &:not(:nth-child(0)) {
        margin-right: 0;
      }
    }
    border: 1px solid #00000020;
    .card-header {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 24px;
      border-bottom: 1px solid #00000020;
      @include phone {
        line-height: 36px;
        font-size: 24px;
      }
    }
  }
}

.list-group {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 24px;
  .list-group-item {
    @include phone {
      font-size: 20px;
      padding-right: 24px;
    }
    span {
      font-size: 18px;
      margin-right: 11px;
    }
  }
}
.detail {
  appearance: none;
  background-color: black;
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
}
