<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <!-- //google icon  -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- css link -->
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header>
      <div class="container d-flex jcsb a-items-c">
        <h1 class="py-4">
          <a href="index.html">眼鏡官網</a>
        </h1>
        <ul class="nav d-flex flex-wrap text-white">
          <li class="nav-item"><a href="page1.html">系列鏡框</a></li>
          <li class="nav-item"><a href="brach.html">門市據點</a></li>
          <li class="nav-item"><a href="blog.html">部落格</a></li>
          <li class="nav-item"><a href="#">常見問題</a></li>
        </ul>
        <!-- RWD 漢堡選單按鈕 -->
        <a class="navBtn" href="#"
          ><span class="material-symbols-outlined material-icons md-40"
            >menu</span
          ></a
        >
      </div>
    </header>

    <%- contents %>

    <footer class="footer">
      <div class="container borderB-white">
        <div class="navInfoSocial">
          <div class="navInfo pt-12">
            <ul class="contact-nav">
              <li><a href="#">首頁</a></li>
              <li><a href="#">系列鏡框</a></li>
              <li><a href="#">系列鏡框</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>
            <ul class="contact-info">
              <li>
                <span class="material-icons material-symbols-outlined md-36"
                  >call</span
                >
                <a href="tel:+0800-000-00">0800-000-00</a>
              </li>

              <li>
                <span class="material-icons material-symbols-outlined md-36"
                  >mail</span
                >
                <a href="mailtoglasses@business.co"> glasses@business.co </a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="social d-flex">
              <li>
                <a href="#"
                  ><img
                    src="./assets/images/ic-social-fb.png"
                    alt="fb"
                    class="icon"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="./assets/images/ic_social_ig.png"
                    alt="ig"
                    class="icon"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="./assets/images/ic_social_line.png"
                    alt="line"
                    class="icon"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="copyRight container d-flex jcsb">
          <p class="pb-2">Copyright &copy; 2020 Glasses.All rights reserved.</p>
          <div class="policy">
            <p class="mr-12"><a class="pb-2" href="#">隱私權政策</a></p>
            <p><a href="#">服務條款</a></p>
          </div>
        </div>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: "DOMContentLoaded", // name of the event dispatched on the document, that AOS should initialize on
        initClassName: "aos-init", // class applied after initialization
        animatedClassName: "aos-animate", // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: "ease", // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: "top-bottom", // defines which position of the element regarding to window should trigger the animation
      });
    </script>
  </body>
</html>
