@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: "Noto Sans TC","Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei",  "Helvetica Neue", "sans-serif"; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: "Noto Sans TC", "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", "Noto Sans TC", sans-serif; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  display: block;
  text-decoration: none;
  color: white;
  display: block; }
  a:hover {
    color: gray; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.a-items-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-a-c {
  text-align: center; }

.p-4 {
  padding: 16px; }

.pt-8 {
  padding-top: 32px; }

.pt-18 {
  padding-top: 72px; }

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px; }

.pb-2 {
  padding-bottom: 8px; }

.pb-8 {
  padding-bottom: 32px; }

.pb-11 {
  padding-bottom: 44px; }

.pb-12 {
  padding-bottom: 48px; }

.pb-18 {
  padding-bottom: 72px; }

.pl-4 {
  padding-right: 16px; }

.pr-12 {
  padding-right: 48px; }

.pr-16 {
  padding-right: 64px; }

.mr-12 {
  margin-right: 48px; }

.mr-16 {
  margin-right: 64px; }

.mt-2 {
  margin-top: 8px; }

.mt-24 {
  margin-top: 96px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-8 {
  margin-bottom: 33px; }

.mr-4 {
  margin-right: 16px; }

.mr-8 {
  margin-right: 32px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-12 {
  margin-bottom: 48px; }

.mb-18 {
  margin-bottom: 72px; }

.mb-20 {
  margin-bottom: 80px; }

.text-white {
  color: #fff; }

.borderB-white {
  border-bottom: 1px solid #fff; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  /* 依照設計稿 PC 版：
   * 容器寬度為 1296px，因為有設定為 border-box，所以整體寬度需加上左右 padding
   * 整體 container 寬度為 1296px + 15px*2 = 1320px   
   * （關於 box-sizing 觀念可以再回顧 Day7 每日任務 或是第三週穎老師）*/ }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 373px; } }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-40 {
  font-size: 40px; }

.material-icons.md-48 {
  font-size: 48px; }

.active {
  border-bottom: 5px solid #aa0601; }

header {
  background-color: #aa0601; }
  header h1 a {
    background-image: url("../images/logo-white.png");
    background-size: cover;
    width: 90px;
    height: 55px;
    text-indent: 130%;
    overflow: hidden;
    white-space: nowrap; }
    @media (max-width: 767px) {
      header h1 a {
        width: 80px;
        height: 48px; } }

@media (max-width: 767px) {
  header {
    width: 100%;
    position: fixed;
    top: 0; } }

.nav :not(:last-child) {
  margin-right: 64px; }

@media (max-width: 767px) {
  .nav {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    text-align: center; }
    .nav :not(:last-child) {
      margin-right: 0px; } }

.nav .nav-item {
  font-size: 1.25rem;
  font-weight: normal; }
  @media (max-width: 767px) {
    .nav .nav-item {
      padding: 5px 5px; } }

.navBtn {
  display: none; }
  @media (max-width: 767px) {
    .navBtn {
      display: block; } }
  .navBtn a .material-symbols-outlined {
    color: white;
    font-size: 48px; }

.banner {
  background-image: url("../images/home-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("../images/home-header-sm.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 787px; } }
  @media (max-width: 767px) {
    .banner {
      height: 396px;
      margin-top: 80px; } }
  .banner .container {
    width: 100%; }
  .banner .title {
    color: #650300;
    text-align: right;
    width: 100%; }
    .banner .title span {
      font-size: 2.25rem; }
      @media (max-width: 767px) {
        .banner .title span {
          font-size: 1rem; } }
    .banner .title h2 {
      font-size: 68px;
      font-weight: bold;
      color: #650300; }
      @media (max-width: 767px) {
        .banner .title h2 {
          font-size: 1.5rem; } }
    .banner .title button {
      border-width: 0; }
      .banner .title button a {
        background-color: #aa0601;
        color: #fff;
        font-size: 1.25rem;
        padding: 6px 12px; }
        .banner .title button a:hover {
          background-color: #e9a6a6;
          cursor: pointer; }

.do {
  background-color: #fbf2f2; }
  @media (max-width: 992px) {
    .do {
      padding-bottom: 44px; } }
  @media (max-width: 767px) {
    .do {
      padding-bottom: 40px; } }
  .do h2 {
    font-size: 3rem;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
    font-weight: 700;
    padding-bottom: 32px; }
    @media (max-width: 767px) {
      .do h2 {
        font-size: 1.5rem;
        padding-top: 40px; } }
  .do ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
    @media (max-width: 992px) {
      .do ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .do li {
    width: 25%;
    padding: 0 12px;
    padding-bottom: 80px; }
    @media (max-width: 992px) {
      .do li {
        width: 50%;
        padding-bottom: 36px; } }
    @media (max-width: 767px) {
      .do li {
        width: 100%;
        padding-bottom: 32px; } }
    .do li img {
      width: 100px; }
    .do li h3 {
      color: #650300;
      font-size: 1.5rem;
      font-weight: 700; }
    .do li p {
      font-size: 1rem;
      text-align: left; }

@media (max-width: 992px) {
  .classic {
    margin-bottom: 80px; } }

@media (max-width: 767px) {
  .classic {
    margin-bottom: 40px; } }

.classic h2 {
  font-size: 3rem;
  color: #650300;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 48px;
  font-weight: 700; }
  @media (max-width: 767px) {
    .classic h2 {
      font-size: 1.5rem;
      padding-top: 40px;
      padding-bottom: 24px; } }

.classic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 992px) {
    .classic ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .classic ul li {
    width: calc(33.33% - 24px); }
    @media (max-width: 992px) {
      .classic ul li {
        width: 55%; } }
    @media (max-width: 767px) {
      .classic ul li {
        width: 100%; } }

.classic h3 {
  font-size: 2.5rem;
  color: #aa0601;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .classic h3 {
      padding-top: 8px;
      padding-bottom: 24px; } }

.design {
  background-image: url("../images/index-bg.png");
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .design {
      padding-bottom: 40px; } }
  .design h2 {
    font-size: 3rem;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 767px) {
      .design h2 {
        padding-top: 40px;
        padding-bottom: 24px; } }
  .design ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .design ul li {
      width: 50%; }
      @media (max-width: 992px) {
        .design ul li {
          width: 100%;
          margin-bottom: 24px; } }

.design h3 {
  padding: 8px 0;
  color: #aa0601;
  background-color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-align: center; }

.review h2 {
  font-size: 3rem;
  color: #650300;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 48px;
  font-weight: 700; }
  @media (max-width: 767px) {
    .review h2 {
      font-size: 1.5rem;
      padding-top: 40px;
      padding-bottom: 24px; } }

.review ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    .review ul {
      padding-bottom: 40px; } }
  .review ul li {
    width: calc(25% - 24px);
    -webkit-box-shadow: 0 2px 6px #00000029;
            box-shadow: 0 2px 6px #00000029;
    border-radius: 4px; }
    @media (max-width: 992px) {
      .review ul li {
        width: calc(50% - 24px);
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .review ul li {
        width: 100%; } }

.review span {
  font-size: 1rem;
  color: black;
  font-weight: 700; }

@media (max-width: 767px) {
  .review p {
    padding-bottom: 96px; } }

.meg {
  background-color: #fbf2f2; }
  .meg .container {
    margin: 0 auto;
    padding-bottom: 80px; }
    @media (max-width: 767px) {
      .meg .container {
        padding-bottom: 40px; } }
    .meg .container h2 {
      font-size: 3rem;
      color: #650300;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 48px;
      font-weight: 700; }
      @media (max-width: 992px) {
        .meg .container h2 {
          padding-bottom: 24px; } }
      @media (max-width: 767px) {
        .meg .container h2 {
          font-size: 1.5rem;
          padding-top: 40px;
          padding-bottom: 24px; } }
    .meg .container p {
      font-size: 1.25rem;
      padding-bottom: 24px; }
      @media (max-width: 992px) {
        .meg .container p {
          font-size: 1rem; } }
  .meg .meg-container {
    width: 50%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .meg .meg-container {
        width: 100%; } }
  .meg label {
    margin-bottom: 8px;
    width: 100%; }
  .meg input {
    width: 100%;
    background-color: #fbf2f2;
    padding: 6px 12px; }

.message {
  padding: 6px 12px;
  background-color: #fbf2f2;
  height: 136px; }

.checkBoxSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 767px) {
    .checkBoxSet {
      padding-bottom: 24px; } }

.info {
  height: 136px;
  resize: none; }

.btn {
  display: block;
  margin: 0 auto;
  background-color: #aa0601;
  width: 70%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff; }
  @media (max-width: 992px) {
    .btn {
      width: 60%; } }
  @media (max-width: 767px) {
    .btn {
      width: 100%; } }
  .btn a {
    font-size: 1.5rem; }
    @media (max-width: 992px) {
      .btn a {
        font-size: 1rem; } }

.meg input.checkbox {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-top: 4px; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: -22px;
  text-align: center; }
  @media (max-width: 767px) {
    .products {
      margin-top: 55px; } }
  .products li {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px; }
    @media (max-width: 992px) {
      .products li {
        padding-top: 10px;
        padding-bottom: 10px; } }
    .products li:not(:last-child) {
      border-right: 1px solid #dcdcdc; }
    .products li a {
      color: black;
      font-size: 32px; }
      @media (max-width: 992px) {
        .products li a {
          font-size: 1.5rem; } }
      @media (max-width: 767px) {
        .products li a {
          font-size: 1rem; } }

.prodBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .prodBanner .prodBanner-left {
    background-image: url("../images/product-header-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 296px;
    width: 790px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 992px) {
      .prodBanner .prodBanner-left {
        width: 960px; } }
    @media (max-width: 767px) {
      .prodBanner .prodBanner-left {
        background-image: url("../images/product-header-sm-1.png");
        width: 384px; } }
  .prodBanner .prodBanner-right {
    background-image: url("../images/product-header-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 296px;
    width: 790px;
    background-position: center; }
    @media (max-width: 992px) {
      .prodBanner .prodBanner-right {
        width: 960px; } }
    @media (max-width: 767px) {
      .prodBanner .prodBanner-right {
        background-image: url("../images/product-header-sm-2.png");
        width: 384px; } }

.optical-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 32px; }
  .optical-title h2 {
    font-size: 42px;
    font-weight: 700;
    font-family: "roboto"; }
  .optical-title span {
    font-size: 32px; }

.optical-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .optical-cards {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .optical-cards .opticalCard {
    width: calc(25% - 24px);
    margin-bottom: 80px; }
    @media (max-width: 992px) {
      .optical-cards .opticalCard {
        width: calc(50% - 24px);
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .optical-cards .opticalCard {
        width: calc(100% - 24px);
        margin-bottom: 24px; } }
    .optical-cards .opticalCard .colors a:hover {
      cursor: pointer; }
  .optical-cards .card-body h3,
  .optical-cards .card-body p {
    font-size: 1.5rem; }
  .optical-cards .card-body p {
    color: #aa0601;
    font-weight: 700; }
  .optical-cards .card-body .brown,
  .optical-cards .card-body .lightB {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: inline-block; }
  .optical-cards .card-body .brown {
    background-color: #5f3e2d; }
  .optical-cards .card-body .lightB {
    background-color: #b75929; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 80px; }
  .pagination a {
    color: #555555;
    font-size: 18px;
    padding: 12px 16px;
    border: 1px solid #555555; }
    @media (max-width: 767px) {
      .pagination a {
        font-size: 16px;
        padding: 11px 14px 12px 13px; } }
    .pagination a:hover {
      background-color: black;
      color: white; }

.lastPage,
.nextPage {
  background-color: #f2f2f2; }

.h2 {
  font-size: 3rem;
  font-weight: 900; }
  .h2::before {
    content: "";
    background-color: #aa0601;
    width: 8px;
    height: 72px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px; }

@media (max-width: 767px) {
  .label {
    font-size: 16px;
    margin-right: 8px; } }

select {
  width: 304px; }
  @media (max-width: 767px) {
    select {
      width: 276px;
      height: 36px; } }

.option {
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .option {
      margin-bottom: 24px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 992px) {
    .location {
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .location {
      margin-bottom: 40px; } }
  .location .card {
    width: 32%;
    margin-bottom: 48px;
    border: 1px solid #00000020; }
    .location .card:not(:nth-child(3)) {
      margin-right: 24px; }
    @media (max-width: 992px) {
      .location .card {
        width: calc(50% - 24px);
        margin-bottom: 24px; }
        .location .card:not(:nth-child(2)) {
          margin-right: 24px; } }
    @media (max-width: 767px) {
      .location .card {
        width: 100%; }
        .location .card:not(:nth-child(0)) {
          margin-right: 0; } }
    .location .card .card-header {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 24px;
      border-bottom: 1px solid #00000020; }
      @media (max-width: 767px) {
        .location .card .card-header {
          line-height: 36px;
          font-size: 24px; } }

.list-group {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 24px; }
  @media (max-width: 767px) {
    .list-group .list-group-item {
      font-size: 20px;
      padding-right: 24px; } }
  .list-group .list-group-item span {
    font-size: 18px;
    margin-right: 11px; }

.detail {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: black;
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff; }

.second-nav {
  background-color: #650300;
  color: #ffffff;
  font-size: 20px; }
  @media (max-width: 767px) {
    .second-nav {
      display: none; } }
  .second-nav .container {
    padding-top: 13px;
    padding-bottom: 13px; }
  .second-nav li {
    margin-right: 48px; }

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 96px;
  margin-bottom: 33px; }
  @media (max-width: 767px) {
    h2 {
      font-size: 24px;
      margin-top: 120px;
      margin-bottom: 24px; } }
  h2::before {
    content: "";
    background-color: #aa0601;
    width: 8px;
    height: 72px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px; }
    @media (max-width: 767px) {
      h2::before {
        height: 36px; } }

.blog ul {
  margin-bottom: 124px; }
  @media (max-width: 992px) {
    .blog ul {
      margin-bottom: 80px; } }
  .blog ul li {
    margin-bottom: 60px; }
    @media (max-width: 992px) {
      .blog ul li {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .blog ul li {
        margin-bottom: 24px;
        display: block; } }

.blog img {
  width: 636px;
  margin-right: 24px; }
  @media (max-width: 992px) {
    .blog img {
      width: 336px; } }
  @media (max-width: 767px) {
    .blog img {
      width: 100%; } }

.blog h3 {
  font-size: 32px;
  color: #650300; }
  @media (max-width: 992px) {
    .blog h3 {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .blog h3 {
      margin-top: 8px; } }

.blog h4 {
  font-size: 20px;
  font-weight: 500; }
  @media (max-width: 992px) {
    .blog h4 {
      font-size: 16px; } }

.card-body .card-subtitle {
  margin-bottom: 8px; }

.card-body date {
  font-size: 16px; }

.card-text {
  font-size: 20px;
  color: #555555; }
  @media (max-width: 992px) {
    .card-text {
      width: 336px;
      display: -webkit-box;
      /*值必須為-webkit-box或者-webkit-inline-box*/
      -webkit-box-orient: vertical;
      /*值必須為vertical*/
      -webkit-line-clamp: 6;
      /*值為數字，表示一共顯示幾行*/
      overflow: hidden; } }
  @media (max-width: 767px) {
    .card-text {
      display: none; } }

.card-link {
  color: #650300;
  font-size: 36px;
  font-weight: 900;
  text-align: end;
  margin-top: 72px; }
  @media (max-width: 992px) {
    .card-link {
      color: #555555;
      font-size: 16px;
      margin-top: 0; } }
  @media (max-width: 767px) {
    .card-link {
      display: none; } }

footer {
  background-color: #aa0601;
  padding-top: 48px; }
  @media (max-width: 767px) {
    footer {
      padding-top: 24px; } }
  footer .navInfoSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff; }

.navInfo .contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .navInfo .contact-nav {
      display: none; } }
  .navInfo .contact-nav li:hover {
    -webkit-filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
            filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2); }

.navInfo .contact-info {
  margin-top: 44px;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .navInfo .contact-info {
      margin: 0 auto 24px; } }
  .navInfo .contact-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navInfo .contact-info li:hover {
      -webkit-filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
              filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2); }
    .navInfo .contact-info li .material-symbols-outlined {
      padding-right: 22px;
      color: #fff; }
      @media (max-width: 767px) {
        .navInfo .contact-info li .material-symbols-outlined {
          font-size: 18px;
          padding-right: 11px; } }
    .navInfo .contact-info li a {
      font-size: 2.25rem; }
      @media (max-width: 767px) {
        .navInfo .contact-info li a {
          padding: 8px 0;
          font-size: 1rem; } }

.social li:not(:last-child) {
  margin-right: 32px; }
  @media (max-width: 992px) {
    .social li:not(:last-child) {
      margin-right: 16px; } }
  @media (max-width: 767px) {
    .social li:not(:last-child) {
      margin-right: 8px; } }

@media (max-width: 767px) {
  .social li a {
    padding: 8px 0; } }

.social .icon {
  width: 48px; }
  .social .icon:hover {
    -webkit-filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
            filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2); }
  @media (max-width: 992px) {
    .social .icon {
      width: 40px; } }
  @media (max-width: 767px) {
    .social .icon {
      width: 24px;
      height: 24px; } }

.copyRight {
  padding: 32px 12px;
  color: #fff; }
  @media (max-width: 767px) {
    .copyRight {
      padding: 16px 0 24px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .copyRight .policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .copyRight .policy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .copyRight .policy a {
      display: block;
      font-size: 0.875rem; }
      @media (max-width: 767px) {
        .copyRight .policy a {
          padding-right: 8px; } }

/*# sourceMappingURL=all.css.map */
