$primary: #aa0601; //紅色
$secondary: #650300; //深紅
$lightBg: #fbf2f2; //背景粉

$font-size-base: 1rem; //16px
$sm-text: $font-size-base * 0.875; //14px
$h5-text: $font-size-base * 1.25; //20px
$h4-text: $font-size-base * 1.5; //24px
$h3-text: $font-size-base * 2.25; //36px
$h2-text: $font-size-base * 3; //48px
